@import "./Vars.scss";

.formCardUser {
    max-width: 650px;
    padding: 50px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.cardTitleUser {
    margin-bottom: 40px;
}

.formAlert {
    margin-bottom: 30px;
}